img{
    width: 24rem;
    image-orientation: 20deg;
    position: relative;
    top:350px;
    animation: linear infinite;
    animation-name: run;
    animation-duration: 7s;
}

@-webkit-keyframes run {
    0% {
        top: 350px; left: 0px;
    }
    100% {
        top: 0px; left: 1000px;
    }
}

body{
    background-color: black;
}

div{
    position: relative;
    z-index: 1;
    text-align: center;
    margin: auto;
}

h1{
    color: peru;
}

